.cb{
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(8,90px);
  grid-template-rows: repeat(8,90px);
  width: 720px;
  border: 2px solid white ;
  height: 720px;
  background-color: #779556;
}
.App{
  display: grid;
  place-content: center;
  
}
.tile{
  width: 90px;
  height: 90px;
  display: grid;
  place-content: center;
}

.tile_white{
  background-color: #ebecb0;
}
.tile_black{
  background-color: #1487aa;
}

.tile_white{
  background-color: #ebecb0;
}

/* .tile_white img{
  width: 125%;
}
.tile_black img{
  width: 125%;
} */
body{
  background-color: black;
}

.tile .coin{
  height:90px;
  width: 90px;
  /* position: absolute; */
  background-repeat: no-repeat;
  background-position: center;
}

.coin:hover{
  cursor: grab;
}
.coin:active{
  cursor: grabbing;
}